.wrap {
	height: 100vh;
}

.flex {
	display: flex;
  flex-flow: row wrap;
}

.center {
	align-items: center;
	justify-content: center;
}

.top-center {
	align-items: flex-start;
	justify-content: center;
}

.bottom-center {
	align-items: flex-end;
	justify-content: center;
}

.center-between {
	align-items: center;
	justify-content: space-between;
}

.center-around {
	align-items: center;
	justify-content: space-around;
}

.center-left {
	align-items: center;
	justify-content: flex-start;;
}

.center-right {
	align-items: center;
	justify-content: flex-end;
}

.stretch-center {
	align-items: stretch;
	justify-content: center;
}

.content {
	padding: 2em 0;
	position: relative;
}

.column {
	margin: 0 2em 2em 2em;
	width: 100%;
	position: relative;
}

.column:last-child {
	margin: 0 2em 0 2em;
}

.column-800 {
	max-width: 800px;
}

.column-600 {
	max-width: 600px;
}

.column-500 {
	max-width: 500px;
}

.column-400 {
	max-width: 300px;
}

.column-300 {
	max-width: 300px;
}

.height-full {
	height: 100vh;
}
