.fx-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fx-row-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fx-row-wrap-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.fx-row-wrap-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.fx-row-between {
	display: flex;
	justify-content: space-between;
}

.fx-row-around {
	display: flex;
	justify-content: space-around;
}

.fx-row-end-center {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.fx-row-start {
	display: flex;
	justify-content: flex-start;
}

.fx-row-start-center {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.fx-row-stretch {
	display: flex;
	align-items: stretch;
}
