
.flex {
	display: flex;
  flex-flow: row wrap;
}

.center {
	align-items: center;
	justify-content: center;
}

.top-center {
	align-items: flex-start;
	justify-content: center;
}

.bottom-center {
	align-items: flex-end;
	justify-content: center;
}

.center-between {
	align-items: center;
	justify-content: space-between;
}

.center-around {
	align-items: center;
	justify-content: space-around;
}

.column {
	margin: 10px 30px;
}

@media screen and (min-width: 1024px) {
	.content {
		width: 100%;
		height: 100%;
	}
}
