.flex {
	display: flex;
	flex-flow: row wrap;
}

.center {
	flex-flow: column;
	align-items: center;
}

.right {
	flex-flow: column;
	align-items: flex-end;
}

.all-center {
	align-items: center;
	justify-content: center;
}

.start-center {
	align-items: flex-start;;
	justify-content: center;
}

.center-between {
	align-items: center;
	justify-content: space-between;
}

.center-around {
	align-items: center;
	justify-content: space-between;
}
