html, body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: inherit;
}

html, body {
	box-sizing: border-box;
	height: 100%;
	line-height: 1;
}

article, section, header, footer, nav {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}
