body {
	font-family: 'Quicksand', sans-serif;
}

.btn {
	padding: 10px 20px;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.3);
	transition: background-color 0.5s;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.btn-white {
	border: 1px solid #fff;
	color: #fff;
}

.link {
	transition: opacity 0.5s;
}

.link:hover {
	opacity: 0.8;
}

.header {
	padding: 20px 30px;
	background-color: #2C0402;
}

.header img {
	width: 150px;
	margin-top: 5px;
}

.menu a {
	font-size: 16px;
	margin-left: 20px;
	color: #fff;
}

.intro {
	background-color: #0f0f0f;
}

.intro img {
	width: 350px;
	animation: introAnime 3s;
}

.signup {
	background-color: #CF7F26;
	color: #fff;
}

.type {
	width: 200px;
	height: 250px;
	border: 1px solid #000;
	margin-top: 20px;
}
