html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	height: 100%;
}

.flex-center {
	display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.intro {
	width: 100%;
	height: 100%;
	background-color: #0F0F0F;
}

.intro img {
	width: 350px;
	animation: introAnime 3s;
}

.type {
	width: 200px;
	height: 250px;
	border: 1px solid #000;
	margin-top: 20px;
}
