body {
	font-family: 'Quicksand', sans-serif;
}

.wrap {
	color: #DCCCAA;
	background-color: #0f0f0f;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 0.5s;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.button-slave {
	border: 0.5px solid #DCCCAA;
	background-color: rgba(255, 255, 255, 0);
}

.button-primary {
	color: #DCCCAA;
}

.responsive {
	max-width: 100%;
}

.link {
	transition: opacity 0.5s;
}

.link:hover {
	opacity: 0.8;
}

.header {
	padding: 20px 30px;
}

.header img {
	width: 150px;
	margin-top: 5px;
}

.menu a {
	font-size: 1em;
	margin-left: 25px;
}

.menu a:last-child {
	padding: 10px 15px;
	border: 0.5px solid;
}

.title {
	line-height: 3.5em;
	margin-bottom: 2.5em;
	text-align: center;
}

.title h1 {
	font-size: 3em;
}

.title h2 {
	margin-top: 1em;
	font-size: 2em;
	color: #ECC87A;
}

.intro .logo-intro {
	width: 350px;
	animation: introAnime 3s;
}

.intro .cup-anime {
	width: 100px;
	margin-bottom: 20px;
}

.cup-anime {
	position: relative;
}

.cup-anime .mask {
	position: absolute;
	bottom: 0px;
	z-index: 99;
}

.cup-anime .liquid {
	position: absolute;
	bottom: 0px;
	height: 0;
	width: 100%;
	animation: liquidAnime 3s forwards;
	z-index: 9;
}

.cup-anime .front {
	width: 100%;
	z-index: 999;
}

.cup-anime .back {
	position: absolute;
	width: 100%;
}

.back-home {
	background-image: linear-gradient(rgba(15,15,15,0.7),rgba(15,15,15,0.8)), url(../img/back-coffee.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.signup {

}

.type {
	width: 200px;
	height: 250px;
	border: 1px solid #000;
	margin-top: 20px;
}

@media screen and (min-height: 415px) {
	.content {
		padding: 7em 0 3em 0;
	}
}
