<div class="wrap back-home">
	<div ng-controller="HeaderController" ng-include="'views/includes/header.html'"></div>
	<div class="content flex top-center home">
		<div class="column column-800 flex center">
			<div class="title text-center">
				<h1>Welcome to the best self-service coffee in the world.</h1>
				<h2>Sign up and make your coffee!</h2>
			</div>
			<a ng-click="signupHome()" class="button button-green" href="#/account/signup">Make now!</a>
		</div>
	</div>
</div>

<!-- <div class="column column-300">
	<div class="cup-anime flex bottom-center">
		<img class="mask" src="img/espresso-mask.svg" alt="Espresso mask">
		<img class="liquid" src="img/espresso-liquid.svg" alt="Espresso liquid">
		<img class="front" src="img/espresso-front.svg" alt="Espresso front">
		<img class="back" src="img/espresso-back.svg" alt="Espresso back">
	</div>
</div> -->
