<div ng-controller="HeaderController" ng-include="'views/includes/header.html'"></div>
<article class="content">
	<div class="fx-col-center">
		<header class="title">
			<h1>Login to the system</h1>
		</header>
		<form class="form" name="form" novalidate>
			<div class="field-group">
		  	<input class="field" type="email" name="email" ng-model="signin.email" placeholder="Email" required autofocus ng-focus="message = false">
		  	<div ng-show="form.email.$error.email || message" class="icon-alert"><i class="fa fa-exclamation"></i></div>
				<div class="icon-alert" ng-show="!form.email.$invalid && !message"><i class="fa fa-check"></i></div>
			</div>
			<div class="field-group">
		  	<input class="field" type="password" name="pass" ng-model="signin.pass" placeholder="Password" required ng-focus="message = false">
		  	<div ng-show="message" class="icon-alert"><i class="fa fa-exclamation"></i></div>
		  	<div class="icon-alert" ng-show="!form.pass.$error.required && !message"><i class="fa fa-check"></i></div>
			</div>
		  <button class="button button-block button-blue" type="submit" ng-disabled="form.email.$error.email || form.$error.required" ng-click="signinAccount()">Log in <i ng-show="loading" class="fa fa-spinner loading"></i></button>

		  <div class="box-alert">
				<p class="text-alert" ng-show="message">{{message}}</a></p>
				<p ng-show="form.email.$error.email" class="text-alert">This is not a valid email.</p>
		  	<p>Need an account? <a class="link" ng-href="#/account/signup">Sign up now!</a></p>
			</div>
		</form>
	</div>
</article>
