<div ng-controller="HeaderController" ng-include="'views/includes/header.html'"></div>
<article class="content">
	<div class="fx-col-center">
		<header class="title">
			<h1>Create your account</h1>
		</header>
		<form class="form" name="form" novalidate>
			<div class="field-group">
				<input class="field" type="email" ng-disabled="emailDisabled" name="email" ng-model="signup.email" placeholder="Email" required ng-attr-autofocus="{{autofocus}}" ng-focus="userExist()">
				<div ng-show="form.email.$error.email" class="icon-alert"><i class="fa fa-exclamation"></i></div>
				<div class="icon-alert" ng-show="showField" disabled><i class="fa fa-check"></i></div>
			</div>
			
			<button class="button button-block button-green" ng-disabled="form.email.$error.required || form.email.$error.email" ng-click="signupNext(); softShow='soft-show'" ng-hide="showField">Continue</button>

			<div ng-show="showField" ng-class="softShow">
				<div class="field-group">
					<input class="field" type="text" name="name" ng-model="signup.name" placeholder="Full name" required>
					<div class="icon-alert" ng-show="!form.name.$error.required"><i class="fa fa-check"></i></div>
				</div>
				<div class="field-group">
					<input class="field" type="password" name="pass" ng-model="signup.pass" placeholder="Password" required>
					<div class="icon-alert" ng-show="!form.pass.$error.required"><i class="fa fa-check"></i></div>
				</div>
				<div class="field-group">
					<input class="field" type="password" name="passCheck" ng-model='signup.passCheck' placeholder="Confirm password" required pw-check="signup.pass">
					<div ng-if="form.pass.$touched">
						<div class="icon-alert" ng-show="form.passCheck.$error.pwCheck && !form.passCheck.$error.required"><i class="fa fa-exclamation"></i></div>
						<div class="icon-alert" ng-show="!form.passCheck.$error.pwCheck && !form.passCheck.$error.required"><i class="fa fa-check"></i></div>
					</div>
				</div>
			</div>
			
			<button class="button button-block button-blue" ng-disabled="form.$invalid" ng-show="showField" ng-click="signupAccount()">Sign up <i ng-show="loading" class="fa fa-spinner loading"></i></button>

			<div class="box-alert">
				<p ng-show="showLogin">Your email address is already in use. <a class="link" ng-href="#/account/signin">Please log in</a></p>
				<p  class="text-alert" ng-show="form.passCheck.$error.pwCheck && !form.passCheck.$error.required">Confirm password didn't match.</p>
				<p ng-show="form.email.$error.email" class="text-alert">This is not a valid email.</p>
			</div>
		</form>
	</div>
</article>
